 {{!-- <!--====== PRELOADER PART START ======-->
    
    <div class="preloader">
        <div class="loader rubix-cube">
            <div class="layer layer-1"></div>
            <div class="layer layer-2"></div>
            <div class="layer layer-3 color-1"></div>
            <div class="layer layer-4"></div>
            <div class="layer layer-5"></div>
            <div class="layer layer-6"></div>
            <div class="layer layer-7"></div>
            <div class="layer layer-8"></div>
        </div>
    </div>
    
    <!--====== PRELOADER PART START ======--> --}}
    
    <!--====== HEADER PART START ======-->
    
    <header id="header-part">
       
        {{!-- <div class="header-top d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact text-lg-left text-center">
                            <ul>
                                <li><img src="images/all-icon/map.png" alt="icon"><span>127/5 Mark street, New york</span></li>
                                <li><img src="images/all-icon/email.png" alt="icon"><span>info@yourmail.com</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header-opening-time text-lg-right text-center">
                            <p>Opening Hours : Monday to Saturay - 8 Am to 5 Pm</p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header top -->
         --}}
        <div class="header-logo-support pt-30 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="logo">
                            <a href="index-2.html">
                                <img src="/public/images/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="support-button float-right d-none d-md-block">
                            {{!-- <div class="support float-left">
                                <div class="icon">
                                    <img src="images/all-icon/support.png" alt="icon">
                                </div>
                                <div class="cont">
                                    <p>Need Help? call us free</p>
                                    <span>321 325 5678</span>
                                </div>
                            </div> --}}
                            {{#if isAuth}}
                            <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                            Xin chào, <b>{{authUser.f_Fullname}}</b>!
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/account/profile">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                Tài khoản của tôi
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                Khóa học của tôi
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                Đăng xuất
                                        </a>
                                    </div>
                                </li>
                            {{else}}
                                <div class="button float-left">
                                    <a href="/account/login" class="main-btn">Đăng nhập</a>
                                </div>
                                <div class="button float-left">
                                    <a href="/account/register" class="main-btn">Đăng ký</a>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header logo support -->
        
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="active" href="index-2.html">Trang chủ</a>
                                        {{!-- <ul class="sub-menu">
                                            <li><a class="active" href="index-2.html">Home 01</a></li>
                                            <li><a href="index-3.html">Home 02</a></li>
                                            <li><a href="index-4.html">Home 03</a></li>
                                        </ul> --}}
                                    </li>
                                    <li class="nav-item">
                                        <a href="/courses">Khóa học</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/courses/aspect/1">Công nghệ thông tin</a>
                                                <ul class="sub-menu1">
                                                    <li><a href="/courses/small_aspect/1">Phần mềm</a></li>
                                                    <li><a href="/courses/small_aspect/2">Hệ thống thông tn</a></li>
                                                    <li><a href="/courses/small_aspect/3">AI và machine learning</a></li>
                                                    <li><a href="/courses/small_aspect/4">Mạng máy tính</a></li>
                                                    <li><a href="/courses/small_aspect/5">Khoa học máy tính</a></li>
                                                    <li><a href="/courses/small_aspect/6">An toàn thông tin</a></li>
                                                </ul>
                                                
                                            </li>
                                             <li>
                                                <a href="/courses/aspect/2">Ngôn ngữ</a>
                                                 <ul class="sub-menu1">
                                                    <li><a href="/courses/small_aspect/7">Tiếng Anh</a></li>
                                                    <li><a href="/courses/small_aspect/8">Tiếng Trung</a></li>
                                                    <li><a href="/courses/small_aspect/9">Tiếng Nhật</a></li>
                                                    <li><a href="/courses/small_aspect/10">Tiếng Hàn</a></li>
                                                    <li><a href="/courses/small_aspect/11">Tiếng Pháp</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/courses/aspect/3">Kinh tế</a>
                                                 <ul class="sub-menu1">
                                                    <li><a href="/courses/small_aspect/12">Quản trị kinh doanh</a></li>
                                                    <li><a href="/courses/small_aspect/13">Kế toán</a></li>
                                                    <li><a href="/courses/small_aspect/14">Tài chính & ngân hàng</a></li>
                                                    <li><a href="/courses/small_aspect/15">Marketing</a></li>
                                                    <li><a href="/courses/small_aspect/16">thương mại điện tử</a></li>
                                                    <li><a href="/courses/small_aspect/17">Kinh doanh quốc tế</a></li>
                                                    
                                                </ul>
                                            </li>
                                           
                                            <li>
                                                <a href="/courses/aspect/4">Thiết kế</a>
                                                 <ul class="sub-menu1">
                                                    <li><a href="/courses/small_aspect/18">Thiết kế đồ họa</a></li>
                                                    <li><a href="/courses/small_aspect/19">Thiết kế web</a></li>
                                                    <li><a href="/courses/small_aspect/20">Thiết kế ứng dụng</a></li>
                                                    <li><a href="/courses/small_aspect/21">tư duy Thiết kế</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/courses/aspect/5">Sức khỏe</a>
                                                 <ul class="sub-menu1">
                                                    <li><a href="/courses/small_aspect/22">Sức khỏe chung</a></li>
                                                    <li><a href="/courses/small_aspect/23">Dinh dưỡng</a></li>
                                                    <li><a href="/courses/small_aspect/24">Yoga</a></li>
                                                    <li><a href="/courses/small_aspect/25">Sơ cứu và an toàn</a></li>
                                                    
                                                </ul>
                                            </li>

                                                                          
                                        </ul>
                                    </li>
                                
                                </ul>
                               
                                  
                            </div>
                        </nav> <!-- nav -->
                        <div class="serach-form">
                                            <form action="#">
                                                <input type="text" placeholder="Search by keyword">
                                                <button><i class="fa fa-search"></i></button>
                                            </form>
                                        </div> <!-- serach form -->
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                        <div class="right-icon text-right">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i><span>0</span></a></li>
                            </ul>
                        </div> <!-- right icon -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
        
    </header>
    
    <!--====== HEADER PART ENDS ======-->
  