{{#section 'js'}}
<script>
    $('#frmAddlv1').on('submit', function (e) {
        const fullname = $('#txtCatName').val();
           console.log(fullname);
        e.preventDefault();
        if (fullname.length === 0) {
            alert('Vui lòng điền tên lĩnh vực!');
            return;
        }
        $.getJSON(`/admin/is-availableCat?name=${fullname}`, function (data) {
            if (data === true) {
                $('#frmAddlv1').off('submit').submit();
            } else {
                alert('Lĩnh vực đã tồn tại ! ');
            }
            
        })
    });
</script>
{{/section}}
<form action="" method="POST" id="frmAddlv1">
    <div class="card" style="width:60%; margin: 50px auto;">
        <h5 class="card-header">
            Thêm lĩnh vực
        </h5>
        <div class="card-body">
            <div class="form-group">
                <label for="txtCatName">Lĩnh vực</label>
                <input type="text" class="form-control" id="txtCatName" name="name_level1" autofocus>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-primary" href="/admin/categories" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Trở về danh sách
            </a>
            <button type="submit" class="btn btn-outline-success">
                <i class="fa fa-check" aria-hidden="true"></i>
                Thêm lĩnh vực
            </button>
        </div>
    </div>
</form>