<form method="POST">
  <div class="card" style="width:60%; margin: 50px auto;">
    <h5 class="card-header">
      Lĩnh vực 
    </h5>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCatID">ID</label>
        <input type="text" class="form-control" id="txtCatID" name="ID_aspect1" value="{{this.category.ID_aspect1}}" readonly>
      </div>
      <div class="form-group">
        <label for="txtCatName">Lĩnh vực</label>
        <input type="text" class="form-control" id="txtCatName" name="name_level1" value="{{this.category.name_level1}}"
          autofocus>
      </div>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-primary" href="/admin/categories" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Trở về danh sách
      </a>
      <button type="submit" class="btn btn-outline-danger" formaction="/admin/categories/del">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Xóa
      </button>
      <button type="submit" class="btn btn-outline-success" formaction="/admin/categories/patch">
        <i class="fa fa-check" aria-hidden="true"></i>
        Lưu
      </button>
    </div>
  </div>
</form>